.backgroundimg{
background-image: url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg');
background-size: cover; 
height: 720px;
align-items: center;
padding-top: 0px;
display: flex;


}

.containerLogin{
    
    display: grid;
    height: 400px;
    width: 600px;
    border: 1px solid white;
    margin-left: 300px;
    border-radius: 7px;
    margin-bottom: 90px;
    
}
.buttonlogReg{
    font-size: 50px;
    display: grid;
    gap: 20px;
    margin-bottom: 220px;
    text-align: left;
}
.loginlog{
    color: yellow;
    text-decoration: none;
    margin-left: 100px;
}
.reginlog{
    color: yellow;
    text-decoration: none;
    margin-left: 100px;
}
.titleLogin{
    justify-self: left;
    margin-left: 20px;
    color: yellow;
}

.inputLogin{
display: grid;
width: 400px;
height: 100px;
gap: 10px;
margin-left: 110px;
}

/* .divButtonLogin{
    
} */
.ButtonLogin{
    font-size: 20px;
    width: 200px;
    height: 50px ;
    border-radius: 6px;
    border: 0px;
    background-color: rgb(49, 218, 181);
    color: rgb(95, 67, 13);
    cursor: pointer;
    
}

.ButtonLogin:hover{
    /* transform:scale(1.08 );  */
    /* transition: transform .5s ; */
    background-color: rgb(153, 79, 223);
    transition:  background-color .5s ;
}
.message{
    color: aqua;
    border: 1px solid;
    width: 300px;
    margin-left: 150px;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(138, 81, 81);
    color: yellow;
    padding-top: 20px;
}