.backgroundDetalis{
    background-color: blue;
    margin-top: 0px;
    background-image: url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg');
    height: 900px;
}
.tiltleDetalis{
    margin-top: 0px;
}

.contanirDetalis{
    display: grid;
    grid-template-columns: repeat(2 , 450px);
    justify-content: center;
    margin-left: 90px;
   
   
    
}

.itemDetalis{
    border: 1px solid;
    width: 730px;
    display: grid;
    grid-template-columns: repeat(2 , 250px);
    height: 650px;
    margin-top: 10px;
    background-color: rgb(133, 16, 16 , 0.5);

}
.titledetalis{
    color: yellow;
    font-size: 25px;
    height: 15px;
}
.avarageDetalis{
    height: 15px;
}
.imgDetalis{
    width: 200px;
    height: 200px;
    
}
.divimgDetalis{
    border: 1px solid;
    width: 200px;
    height: 200px;
}
.titAnaavaDetalis{
    width: 300px;
   text-align: left;
}
.avarageDetalis{
    text-align: center;
}
.stepsAndMethod{
    display: flex;
    gap: 50px;
    margin-left: 15px;
}
.prepAndCook{
    margin-top: 40px;
    margin-right: 200px;
    width: 200px;
}
.Ingredients{
    text-align: left;
    width: 150px;
   
}
.Methods{
    width: 300px;
    text-align: left;
    
}
.cookdet{
    font-weight: bold;
    
}
.ingdet{
    font-size: 25px;
    margin-right: 190px;
    color: yellow;
}
.steps{
    background-color: rgb(185, 70, 70,0.5);
    border-radius: 10px;
    padding: 10px;
    color: white;
    
}
.meth{
    background-color: rgb(185, 70, 70,0.5);
    border-radius: 10px;
    padding: 10px;
    color: rgb(255, 255, 244);
}

.prep {
    width: 200px;
    height: 30px;
    position: relative;
    background: rgb(133, 16, 16 , 0.7);
    align-content: start;
    padding-top: 10px;
    color: yellow;

  }
  .prep:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgb(253, 253, 253);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .prep
  :before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    
    border-left: 20px solid rgb(133, 16, 16 , 0.5);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .generalprep{
    margin-left:50px;
    width: 100px;
    height: 100px;
  }

  .cook {
    width: 200px;
    height: 30px;
    position: relative;
    background: rgb(133, 16, 16 , 0.7);
    align-content: start;
    padding-top: 10px;
    /* padding-left: 100px; */
    color: yellow;

  }
  .cook:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgb(253, 248, 248);
    /* rgb(155, 12, 12) */
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .cook
  :before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(133, 16, 16 , 0.5);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }