.contanirDetalis{
    display: grid;
    grid-template-columns: repeat(2 , 450px);
    
    gap: 10px;
}

.itemDetalis{
    border: 1px solid;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2 , 250px);
    height: 570px;
}

.imgDetalis{
    width: 200px;
    height: 200px;
    
}
.divimgDetalis{
    border: 1px solid;
    width: 200px;
    height: 200px;
}
.titAnaavaDetalis{
    width: 300px;
   text-align: left;
}
.avarageDetalis{
    text-align: center;
}
.stepsAndMethod{
    display: flex;
    gap: 50px;
    margin-left: 30px;
}
.prepAndCook{
    margin-top: 40px;
    margin-right: 200px;
    width: 200px;
}
.Ingredients{
    text-align: left;
    width: 300px;
   
}