.contanirfavorite{
    display: grid;
    grid-template-columns: repeat(2 , 650px);
    
    gap: 10px;
    
}

.itemFavorite{
    /* border: 1px solid; */
    width: 600px;
    display: flex;
    height: 190px;
    margin-top: 40px;
    border-style: outset;

}
.imgFavorite{
    width: 180px;
    height: 190px;
}
.divbuttonFavorite{
    width: 300px;
    
    
    
}
.buttondeleteFavorite{
   width: 100px;
  
}
.pfavorite{
    margin-right: 690px;
    width: 380px;
    text-align: left;
}