.backgroundfavorite{
    background-image: url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg');
    height: 900px;
}
.contanirfavorite{
    display: grid;
    grid-template-columns: repeat(2 , 650px);
    
    gap: 10px;
    
}

.itemFavorite{
    /* border: 1px solid; */
    width: 600px;
    display: flex;
    height: 190px;
    margin-top: 40px;
    border-style: outset;
  background-color: rgba(61, 44, 29, 0.5);
}
.imgFavorite{
    width: 180px;
    height: 190px;
}
.divbuttonFavorite{
    width: 300px;
    
    
    
}
.buttondeleteFavorite{
   width: 100px;
   border-radius: 7px;
   
   background-color: rgb(250, 245, 242);
border: 0px;
}
.pfavorite{
    margin-right: 690px;
    width: 380px;
    text-align: left;
    color: aqua;
}

.ptitfavorite{
    margin-right: 690px;
    cursor: pointer;
    width: 300px;
    text-align: left;
    /* color: rgb(97, 97, 18); */
    color: rgb(229, 255, 0);
    font-size: 25px;
    height: 30px;
}