.backgroundproduct{
    /* background-color:rgb(97, 97, 18, 0.5) ; */
    background-image:url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg');
    
}
.contanirProduct{
    /* display: grid;
    grid-template-columns: repeat(1 , 450px); */
    /* background-image:url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg'); */
    
    gap: 10px;
    /* background-size: cover; */
}   
.titleProduct{
    margin-left: 500px;
    height: 10px;
    
   
    
}
.tit{
    width: 310px;
    color: #B1740F;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
}

.itemProduct{
    /* margin-right: 500px; */
    border: 2px solid;
    width: 410px;
    display: grid;
    grid-template-columns: repeat(2,50px);
    row-gap: 0px;
    column-gap: 120px;
    height: 294px;
    border-style: outset;
    /* background-color: rgba(90, 52, 52, 0.6); */
    background-color: rgba(90, 52, 52, 0.4);
    border-radius: 10px;

}
.imgProduct{
    width: 180px;
    /* border: 1px solid; */
    border-radius: 10px;
}
.pimg{
    width: 185px;
    height: 195px;
    border-radius: 10px;
}

.products{
    display: grid;
    margin-top: 50px;
    gap: 10px;
    grid-template-columns: repeat(3 , 420px);
    justify-content: center;
    
    
   
}
.ptit{
    margin-right: 690px;
    cursor: pointer;
    width: 230px;
    text-align: left;
    /* color: rgb(97, 97, 18); */
    color: white;
    font-size: 25px;
    height: 50px;
}
.ptit:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.pava{
height: 28px;
}
.p{
    /* margin-right: 690px; */
    margin-left: 10px;
    width: 330px;
    text-align: left;
    color: rgba(20, 13, 13, 0.856);
}
.titAndAvarageAnddesc{
    width: 300px;
    margin-left: 20px;
    height: 15px;
    
  
}
.buttonUpdateAndDelete{
    display: flex;
    gap: 10px;
    width: 170px;
    align-items: end;
    justify-content: left;
    
    
}
.update{
    width: 70px;
    height: 30px;
    margin-top: 65px;
    margin-left: 90px;
    border-radius: 7px;
    border: 0px;
}
.delete{
    width: 80px;
    height: 30px;
    border-radius: 7px;
    border: 0px;
}

.inputUpdate{
    display: grid;
    height: 100px;
    gap: 10px;
  width: 50px;
    
    margin-left: 10px;
    
}
.backgroundproduct{
    background-image: url('');
    background-size: cover;
}