.contanirProduct{
    display: grid;
    grid-template-columns: repeat(1 , 450px);
    
    gap: 10px;
    
}
.titleProduct{
    margin-left: 500px;
   
    
}
.tit{
    width: 200px;
    
}

.itemProduct{
    /* margin-right: 500px; */
    border: 2px solid;
    width: 900px;
    display: flex;
    height: 190px;
    border-style: outset;

}
.imgProduct{
    width: 180px;
    border: 1px solid;
    border-radius: 10px;
}
.pimg{
    width: 180px;
    height: 189px;
    border-radius: 10px;
}

.products{
    display: grid;
    gap: 20px;
    
   
}
.ptit{
    margin-right: 690px;
    cursor: pointer;
    width: 280px;
    text-align: left;
}
.p{
    margin-right: 690px;
    width: 320px;
    text-align: left;
}
.titAndAvarageAnddesc{
    width: 300px;
    margin-left: 20px;
}
.buttonUpdateAndDelete{
    margin-top: 50PX;
    display: flex;
    gap: 10px;
    width: 170px;
    margin-left: 31px;
    align-items: end;
}
.update{
    width: 70px;
    height: 50px;
}
.delete{
    width: 80px;
    height: 50px;
}
.favorite{
    width: 100px;
    height: 50px;
    
}
.inputUpdate{
    display: grid;
    height: 100px;
    gap: 10px;
    margin-top: 15px;
    margin-left: 30px;
    
}
.backgroundproduct{
    background-image: url('');
    background-size: cover;
}