.contanirProduct{
    display: grid;
    grid-template-columns: repeat(1 , 450px);
    
    gap: 10px;
    
}
.titleProduct{
    margin-left: 500px;
   
    
}
.tit{
    width: 200px;
    
}

.itemProduct{
    /* margin-right: 500px; */
    border: 1px solid;
    width: auto;
    display: flex;
    height: 150px;

}
.imgProduct{
    width: 150px;
    border: 1px solid;
}
.pimg{
    width: 150px;
    height: 148px;
}

.products{
    display: grid;
    gap: 20px;
    
   
}
.ptit{
    margin-right: 690px;
    cursor: pointer;
    width: 280px;
    text-align: left;
}
.p{
    margin-right: 690px;
    width: 500px;
    text-align: left;
}
.titAndAvarageAnddesc{
    width: 300px;
    margin-left: 0px;
}
.buttonUpdateAndDelete{
    margin-top: 50PX;
    display: flex;
    gap: 10px;
    width: 200px;
    margin-left: 30px;
    align-items: end;
}
.update{
    width: 100px;
    height: 50px;
}
.delete{
    width: 100px;
    height: 50px;
}
.favorite{
    width: 150px;
    height: 50px;
}
.inputUpdate{
    display: grid;
    height: 100px;
    gap: 10px;
    margin-top: 15px;
    margin-left: 200px;
    
}