.containNav{
    background-color: rgba(102, 80, 80, 0.8);
    /* background-image: url('https://st2.depositphotos.com/1013886/10274/i/950/depositphotos_102745280-stock-photo-healthy-eating-background-studio-photo.jpg'); */
    display: flex;
    gap: 320px;
    align-items:center;
    height: 110px;
    background-size: cover;
    }
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
.divnavGood{
    width: 200px;
    position: relative;
    animation: mymove 5s infinite;
}
.navGood{
    animation-timing-function: linear;
    color: rgb(90, 14, 31);
    font-size: 30px;
}
.food{
    color: rgb(155, 12, 12,0.7);
}

.loginAndRedister{
    display: flex;
    gap: 30px;
    /* margin-top: 20px; */
    font-size: 25px;
    width: 10px;
    
}
.logoutAndHomeAndCreat{
    display: flex;
    gap: 50px;
    font-size: 30px;
    
}
.search{
    margin-left: 400px;
    border-radius: 8px;
    height: 30px;
    background-color: rgb(204, 161, 161);
    color: aqua;
    border: 0px;
    
}
.buttonsearch{
    height: 30px;
    border-radius: 7px;
    border: 1px solid;
    
}
.searchAndinput{
    align-content: start;
    margin-left: 150px;
}
.login{
    text-decoration: none ;
    
    
}

.login:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.reg{
    text-decoration: none ;
}

.reg:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.logout{
    background-color: rgb(183, 226, 215 , 0.0);
    border: 0px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.logout:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
    cursor: pointer;
    /* color: aqua; */
}
.home{
    text-decoration: none ;
    color: black;
}
.home:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.fav{
    text-decoration: none ;
    color: black;
}
.fav:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.addPro{
    text-decoration: none ;
}

.addPro:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
/* .welcome{
    color: yellow;
} */
