.containNav{
    background-color: rgb(183, 226, 215);
    /* background-image: url('https://st2.depositphotos.com/1013886/10274/i/950/depositphotos_102745280-stock-photo-healthy-eating-background-studio-photo.jpg'); */
    display: flex;
    gap: 420px;
    align-items:center;
    height: 110px;
    background-size: cover;
    }
@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
.divnavGood{
    width: 200px;
    position: relative;
    animation: mymove 5s infinite;
}
.navGood{
    animation-timing-function: linear;
    color: rgb(150, 150, 29);
}
.food{
    color: rgb(83, 83, 28);
}

.loginAndRedister{
    display: flex;
    gap: 30px;
    /* margin-top: 20px; */
    font-size: 25px;
    width: 10px;
    
}
.logoutAndHomeAndCreat{
    display: flex;
    gap: 20px;
}
.search{
    margin-left: 400px;
    
}
.searchAndinput{
    align-content: start;
}
.login{
    text-decoration: none ;
    
    
}

.login:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.reg{
    text-decoration: none ;
}

.reg:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.logout{
    background-color: rgb(183, 226, 215);
    border: 0px ;
    font-family: 'Times New Roman', Times, serif;
}
.logout:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.home{
    text-decoration: none ;
}
.home:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.fav{
    text-decoration: none ;
}
.fav:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.addPro{
    text-decoration: none ;
}

.addPro:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}