.containNav{
    background-color: blueviolet;
    display: flex;
    gap: 420px;
    align-items:center;
}
.loginAndRedister{
    display: flex;
    gap: 30px;
    /* margin-top: 20px; */
    font-size: 25px;
    width: 10px;
    
}
.logoutAndHomeAndCreat{
    display: flex;
    gap: 20px;
}
.search{
    margin-left: 500px;
    
}
.searchAndinput{
    align-content: start;
}
.login{
    text-decoration: none ;
    
    
}

.login:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.reg{
    text-decoration: none ;
}

.reg:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;

}
.logout{
    text-decoration: none ;
}
.logout:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.home{
    text-decoration: none ;
}
.home:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.fav{
    text-decoration: none ;
}
.fav:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}
.addPro{
    text-decoration: none ;
}

.addPro:hover{
    transform:scale(1.08 ); 
    transition: transform .5s ;
}