
.buttonInAdmin{
    background-color: rgba(16, 25, 75, 0);
    border: 0px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
} 
.storednameadmin{
    margin-top: 10px;
    width: 229px;
    color: rgb(12, 28, 82);
    height: 20px;
    padding: 10px;
}
 /* .welcome{ 
 color: black;
} */
.navGoodAdmin{
margin-top:30px;
}