
.buttonInAdmin{
    background-color: rgba(16, 25, 75, 0);
    border: 0px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
} 
.storednameadmin{
    margin-top: 10px;
    width: 229px;
    color: #CEFF1A;
    height: 20px;
    padding: 10px;
}
 .welcome{ 
 color: #CEFF1A;
}
.navGoodAdmin{
margin-top:30px;
}
.home{
    color: white;
}
.addPro{
    color: white;
}