
.buttonInAdmin{
    background-color: rgba(16, 25, 75, 0);
    border: 0px ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    cursor: pointer;
} 
.storednameadmin{
    margin-top: 10px;
    width: 245px;
    color: rgba(226, 250, 7, 0.7);
    height: 20px;
    padding: 10px;
/* }
 .welcome{ 
 /* color: rgba(226, 250, 7, 0.7); */

} */
.navGoodAdmin{
margin-top:30px;
}
.home{
    color: white;
}
.addPro{
    color: white;
}