.productsList{
    display: grid;
    grid-template-columns: repeat(5 , 170px);
    gap: 50px;
    margin-top: 0px;
    row-gap: 50px;
    height: 460px;
}
.itemProductList{
    border: 2px solid;
    width: 195px;
    display: grid;
    height: 260px;
    border-style: outset;
    /* background-color: rgba(90, 52, 52, 0.4); */
   /* background-color: rgb(177, green, blue); */
    justify-items: left;
  margin-left: 140px;
  border: 1px solid black ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.itemProductList:hover {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
  }
.pimglsist{
    width: 195px;
    height: 130px;

}
.imgProductlist{
    height: 120px;
}
.ptitlist{
    color: #B1740F;
    height: 50px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
.ptypefood{
    height: 5px;
    text-align: left;
    /* color: rgba(26, 19, 19, 0.582); */
    color: rgba(0, 0, 0, 0.822);
}
.pava{
 margin-left: 38px;
}