.productsList{
    display: grid;
    grid-template-columns: repeat(5 , 170px);
    gap: 50px;
    margin-top: 0px;
    row-gap: 50px;
    height: 330px;
}
.itemProductList{
    border: 2px solid;
    width: 180px;
    display: grid;
    height: 220px;
    border-style: outset;
    background-color: rgba(90, 52, 52, 0.4);
    justify-items: left;
  margin-left: 140px;
  border: 1px solid green ;
}
.pimglsist{
    width: 180px;
    height: 130px;

}
.imgProductlist{
    height: 120px;
}
.ptitlist{
    color: white;
    height: 20px;
    text-align: left;
}
.ptypefood{
    height: 0px;
    text-align: left;
    color: rgba(26, 19, 19, 0.582);
}
.pava{
 margin-left: 38px;
}