.contanirList{
    display: grid;
    grid-template-columns: repeat(4 , 250px);
    justify-content: center;
    /* margin-top: 50px; */
    gap: 50px;
    padding-top: 50px;
    height: 240px;
}

.itemList{
    border: 1px solid;
    border-style: outset;
    width: 250px;
    height: 330px;
    display: grid;
    
    
    
}
.titlist{
    width: 250px;
    font-size: 30px;
}
.titleList{
    cursor: pointer;
    color: white;
    /* color: rgb(223, 219, 202); */
    
    background-color: #B1740F;
    height: 70px;
    align-content: start;
    
    
    
   
}
.titlist:hover{
    transform:scale(1.08 );
    transition: transform .5s ;
   
   
}

.imagList{
    height: 260px;
    width: 250px;
    cursor: pointer;
}

.backgroundlist{
    /* background-image: url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg'); */
   /* background-color: rgb(157, 187, 157 ,0.5); */
   
    height: 1200px;
    padding-top: 20px;
    display: grid;
    background-size: cover;   

   
}

