.contanirList{
    display: grid;
    grid-template-columns: repeat(4 , 250px);
    justify-content: center;
    /* margin-top: 50px; */
    gap: 50px;
}

.itemList{
    border: 1px solid;
    border-style: outset;
    width: 250px;
    height: 330px;
    
}

.titleList{
    cursor: pointer;
    color: rgb(223, 219, 202);

}
.titleList:hover{
    transform:scale(1.08 );
    transition: transform .5s ;
   
   
}

.imagList{
    height: 250px;
    width: 250px;
}

.backgroundlist{
    background-image: url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg');
    height: 600px;
    padding-top: 70px;
   

   
}