.pagenation{
    display: flex;
    gap: 0px;
    border: 1px solid #ddd;
    width: 90px ;
    height: 25px;
    margin-left: 600px;
   
    
}
.count{
    width: 30px;
    height: 25px;
    transition: background-color .3s;
    /* border-radius: 5px; */
    cursor: pointer;
    border: 1px solid #4CAF50;
    margin-top: 0px;
    color: rgb(12, 8, 8);

}
.count:hover {
    background-color: #4CAF50;
    color: rgb(253, 246, 246);
    
}
.count:visited{
    background-color: #4CAF50;
}