/* .containNavGeneral{
    background-color: rgba(97, 67, 126, 0.247);
    display: flex;
    gap: 420px;
    align-items:center;
    
    height: 100px;
    
}
.logregGeneral{
    display: flex;
    gap: 40px;
}

.loggeneral{
    text-decoration: none;
}
.reggeneral{
    text-decoration: none;
}
.svggeneral{
    width: 80px;
    
 
}
.imgAndfoodgod{
    display: flex;
    
} */