.imgregister{
    background-image: url('https://static2.bigstockphoto.com/0/4/3/large1500/340593394.jpg');
    height: 600px;
    padding-top: 0px;
    display: flex;
    align-items: center;
}
.contanirReg{
    width: 600px;
    height: 520px;
    display: grid;
    border-radius: 7px;
    border: 1px solid;
    margin-left: 300px;
    border: 1px solid white;


}
.buttonlogReginreg{
    font-size: 50px;
    display: grid;
    margin-bottom: 220px;
    text-align: left;
}
.loginreg{
    color: yellow;
    text-decoration: none;
    margin-left: 100px;
    
}
.wordReg{
    font-size: 35px;
    height: 0px;
}
.reginreg{
    color: yellow;
    text-decoration: none;
    margin-left: 100px;
}
.inputsRegister{
    display: grid;
    width: 400px;
    height: 290px;
    margin-left: 120px;
    gap: 10px;
    padding: 10px;
}
.inputReg{
    border-radius: 8px;
    height: 28px;
    padding: 5px;
}
.titleRegister{
    justify-self: left;
    margin-left: 20px;
    color: yellow;
}
.buttonRegister{
    font-size: 20px;
    width: 200px;
    height: 50px ;
    border-radius: 6px;
    border: 0px;
    background-color: rgb(26, 175, 143);
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40px;
    
    
}

.buttonRegister:hover{
    transition: transform .5s ;
    background-color: rgb(153, 79, 223);
    transition:  background-color .5s ;
}
.message{
    justify-content: center;
}